[Desktop Entry]
Name=Planex
Comment=Package installer utility for Plasma
Comment[cs]=Nástroj na instalaci balíčků pro prostředí Plasma
Version=1.0
MimeType=application/vnd.flatpak;application/vnd.flatpak.ref
Exec=planex
Icon=flatpak-discover
Type=Application
Terminal=false
Categories=Settings;PackageManager;Applet;KDE;Qt;
X-KDE-FormFactor=desktop;
